#icon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include centerAll;
    border: 1px solid black;
    padding: 1rem;
    #player-one-icon, 
    #player-two-icon {
    height: 250px;
    aspect-ratio: 1;
    border: 1px solid black;
}
#player-one-icon {
    background-image: url(soot-spirit.gif);
    background-position: center;
    background-size: contain;
}
}