@import "_buttonsAndInputs";
@import "_gameboard";
@import "_mixin";
@import "variables";
@import "_icons";


:root  {
    background-color: white;
    font-family: 'CRASSROOTSAltREG';
}
*  {
    box-sizing: border-box;
    border-radius: 50px;
    

}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
}



#modal {
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70px;
    margin-bottom: 1rem;
    font-size: 20px;
}
.ease-in {
    translate: 2s ease-in-out;
}